html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}


/* Page tools */

table,
td,
th {
    border: 1px solid #333;
}


/* Page my choices */

.choices__item {
    margin: 0;
    list-style-type: circle;
}


/* Page websites to follow */

.websites-table {
    width: 1400px;
}