html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-height: 200vh;
    font-size: 15px;
}

.container {
    width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 50px;
    text-align: center;
}

.form {
    width: 800px;
    margin: 0 auto;
    padding: 30px;
    background-color: silver;
    border-radius: 9px;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 30px 50px;
    border: none;
}

.caption-legend {
    font-size: 20px;
    text-align: center;
}

.caption-label {
    margin-bottom: 20px;
}

input {
    width: 350px;
    margin-left: 15px;
    padding: 10px;
    border: 0;
    border-radius: 3px;
}

.select-label {
    margin-right: 170px;
}

select {
    width: 180px;
    margin-left: 15px;
    padding: 10px;
    border-radius: 3px;
}

.label-btn {
    display: flex;
    flex-direction: column;
}

.label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

[type="checkbox"],
[type="radio"] {
    margin-right: 160px;
}