html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

div {
    padding: 25px 20px 0 35px;
    width: 350px;
    height: 200px;
    font-size: 45px;
    color: #fff;
}

.block-red {
    background-color: red;
}

.block-green {
    position: relative;
    left: 128px;
    bottom: 70px;
    background-color: greenyellow;
}

.block-blue {
    position: relative;
    left: 250px;
    bottom: 360px;
    background-color: blue;
}